*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 2em auto;
  padding: 0 2em;
  max-width: 600px;
  font: normal 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

button {
  width: 100%;
  padding: 1em 2em;
  border: none;
  border-radius: 3px;
  background: #36c;
  color: white;
  font: inherit;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

  background: white;
  border-radius: 4px;

  outline: none;
}

.modal h1 {
  margin-top: 0;
}

/**
 * Animations
 */

/**
 * Backdrop
 */

.modal-appear.modal-backdrop,
.modal-enter.modal-backdrop,
.modal-leave.modal-leave-active.modal-backdrop {
  background: transparent;
}

.modal-appear.modal-appear-active.modal-backdrop,
.modal-enter.modal-enter-active.modal-backdrop,
.modal-leave.modal-backdrop {
  background: rgba(0, 0, 0, 0.8);
}

.modal-appear-active.modal-backdrop,
.modal-enter-active.modal-backdrop,
.modal-leave-active.modal-backdrop {
  transition: background 200ms ease-in;
}

/**
 * Modal
 */

.modal-appear .modal,
.modal-enter .modal,
.modal-leave.modal-leave-active .modal {
  opacity: 0;
  transform: translate(0, -100%);
}

.modal-appear.modal-appear-active .modal,
.modal-enter.modal-enter-active .modal,
.modal-leave .modal {
  opacity: 1;
  transform: translate(0, -50%);
}

.modal-appear-active .modal,
.modal-enter-active .modal,
.modal-leave-active .modal {
  transition: opacity 200ms ease, transform 200ms ease;
}
